@{
    ViewData["Title"] = "Contact";
}

@section Scripts{
    <link href="~/lib/datepicker/css/datepicker.css" rel="stylesheet" />
    <script src="~/js/app-contacts.js"></script>
    <script src="~/js/userController.js"></script>
    <script src="~/js/userEditorController.js"></script>
    <script src="~/js/contactController.js"></script>
    <script src="~/lib/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/js/contactCard.js"></script>
}

<div class="container" ng-app="clientApp">
    <div ng-view></div>
</div>
