@model IEnumerable<MyThingsDotIo.Models.User>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item.FirstName @item.LastName (@item.DateOfBirth.ToString("dd/MM/yyyy"))</li>
                }
            </ul>
        </div>
    </div>
</div>
